/data
/envs
/Depth-Anything-V2/checkpoints/
/Depth-Anything-V2/vis_depth
**.sif
.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.egg
.vscode/
.idea/
.DS_Store
*.swp
*.swo
datasets/DSEC/data
**/**.pth
**/**.pth.tar
**/**.hdf5
**/**.ckpt
**/**.npz
**/**.zip
datasets/mvsec/data/
**/**.pt
wandb/
evaluate_output/
evaluate_results*/
output/
train_output*/
test_mvsec_output/
test_dsec_output/